solutions/DentaQuest_POC_PDL_Verification/Workflows/CRLPOCManualadjustmentsandreassignmentsthataffectA-94CDE6AC-7B91-EB11-B1AC-0022481C7432.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_excelonlinebusiness"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"parameters":{"folderPath":"Inbox","to":"adija@microsoft.com","from":"adija@microsoft.com","includeAttachments":false,"subjectFilter":"Account to be adjusted","importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01NLBI6E22WPXBDDJI2JC2F5WA66X6PBJV":"/Charles River Labs/Adjustment requests.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!5TEKU6YIY0Cxa_xGUWlIWJdilop4fy1Hm5Iqr8pKQZYsm4RARst7QJ4Gkg5dVrXA","file":"01NLBI6E22WPXBDDJI2JC2F5WA66X6PBJV","table":"{125550B9-63B4-4823-ACA3-14844490FEEB}"},"authentication":"@parameters('$authentication')"}},"Checking_if_request_needs_to_be_adjusted":{"actions":{"If_anything_other_than_account_to_be_adjusted":{"actions":{"Wait_for_an_approval":{"runAfter":{"Create_an_approval":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"parameters":{"approvalName":"@outputs('Create_an_approval')?['body/name']"},"authentication":"@parameters('$authentication')"}},"Create_an_approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"parameters":{"approvalType":"CustomResponseAwaitAll","ApprovalCreationInput/responseOptions":["Impact Analysis"],"ApprovalCreationInput/title":"Request for impact analysis","ApprovalCreationInput/assignedTo":"adija@microsoft.com;","ApprovalCreationInput/details":"@variables('Last Row Account value')","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"not":{"contains":["@variables('Last Row Reason for adjustment value')","Account"]}},"type":"If"}},"runAfter":{"Last_Row_Account_value":["Succeeded"]},"expression":{"contains":["@variables('Last Row Reason for adjustment value')","To be adjusted"]},"type":"If"},"Last_Row_Reason_for_adjustment_value":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Last Row Reason for adjustment value","type":"string","value":"last(outputs('List_rows_present_in_a_table')?['body/value'])?['Reason for adjustment']"}]}},"Last_Row_Account_value":{"runAfter":{"Last_Row_Reason_for_adjustment_value":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Last Row Account value","type":"string","value":"last(outputs('List_rows_present_in_a_table')?['body/value'])?['Account']"}]}}}}},"schemaVersion":"1.0.0.0"}